*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(151, 147, 147);
}

header{
    text-align: center;
}
p{
    padding-top: 10px;
    font-size: 29px;
    color: #000000;
}

button{
    position: relative;
    top: 100px;
    left: 630px;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border-radius: 3vh;
    border-color: salmon;
    background-color: salmon;
}

#myDiv{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 30px;
    padding-top: 120px;
}